.add-account-grid-con {
    position: absolute;
    top: 0;
    left: 50%;
    height: 90%;
    margin-top: 5%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
}


.add-account-grid-con::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

.add-account-grid-con::-webkit-scrollbar-track {
    background: transparent;
}

.add-account-grid-con::-webkit-scrollbar-thumb {
    background: #888;
}

.add-account-grid-con::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.add-account-grid-item {
    width: 100%;
    padding: 2rem;
}

.add-account-grid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-account-grid-header button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.add-account-grid-header h4 {
    color: white;
    font-weight: 700;
}

.add-account-grid-item form {
    margin-top: 22px;
}

.add-account-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 22px;
}

.add-account-input label {
    color: var(--secondary-color) !important;
}

.add-account-input .MuiOutlinedInput-root .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: var(--secondary-color) !important;
}

.add-account-input input {
    color: white !important;
}

.add-account-select {
    width: 50%;
}

.add-account-select label {
    color: var(--secondary-color) !important;
}

.add-account-select .MuiSelect-select {
    color: white !important;
}

.add-account-select .MuiSvgIcon-root {
    color: var(--secondary-color) !important;
}

.add-account-text-area {
    width: 100%;
    margin-top: 20px;
}

.add-account-text-area textarea {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    background-color: transparent !important;
    color: white !important;
}

.add-account-text-area textarea:focus {
    outline: none;
}

.add-account-modal {
    height: 80vh;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .add-account-form {
        flex-direction: column;
    }

    .add-account-input,
    .add-account-select {
        width: 100% !important;
    }

}
