.tab-bar {
    margin-top: 20px;
}

.tab-bar .add-account-grid-con {
    width: 50% !important;
    background-color: transparent !important;
    position: unset !important;
}

.tab-bar .add-account-grid-item {
    padding: 0 !important;
}


@media screen and (max-width: 600px) {
    .tab-bar .add-account-grid-con {
        width: 100% !important;
    }
}