* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: #fff;
}

body {
    height: 100vh;
    background: var(--primary-color-dark);
}

:root {
    --primary-color: #1f2021;
    --secondary-color: #666666;
    --primary-color-dark: #181818;
}

