.message-filter {
    margin-top: 20px;
    padding: 20px;
    background: var(--primary-color);
}

.message-filter-inputs {
    display: flex;
    align-items: center;
    gap: 20px;
    /*justify-content: space-between;*/
}

.message-reset {
    margin-top: 20px;
}

.message-reset button {
    color: #fff;
    background: transparent;
    padding:10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}