.message-filter {
    margin-top: 20px;
    padding: 20px;
    background: var(--primary-color);
}

.message-filter-inputs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.message-reset {
    margin-top: 20px;
}

.message-reset button {
    color: #fff;
    background: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.message-table {
    width: 100%;
    margin-top: 20px;
    overflow: auto;
    background: var(--primary-color);
}


.message-table table {
    width: 100%;
    border-collapse: collapse;
}

.message-table table thead,
.message-table table tbody {
    width: 100%;
    display: block;
}

.message-table table thead tr,
.message-table table tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-table table tbody tr {
    border-bottom: 1px solid #4d5762;
}

.message-table table tbody {
    height: 400px;
    overflow: auto;
}

.message-table table tbody::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

.message-table table tbody::-webkit-scrollbar-track {
    background: transparent;
}

.message-table table tbody::-webkit-scrollbar-corner {
    background-color: transparent;
}

.message-table table tbody::-webkit-scrollbar-thumb {
    background: #888;
}

.message-table table tbody::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message-table table thead {
    background: #262729;
}

.message-table table thead th {
    padding: 20px;
    text-align: start;
    white-space: nowrap;
}

.message-table table thead th:nth-last-child(1) {
    text-align: center;
}

.message-table table thead th:nth-last-child(2) {
    text-align: center;
}

.message-table table tbody td {
    font-size: 15px;
    padding: 10px 20px;
    white-space: nowrap;
}

.message-table table tbody td:nth-last-child(1) {
    text-align: center;
}

.message-table table tbody td:nth-last-child(2) {
    text-align: center;
}