.account-header {
    margin-top: 30px;
}

.account-header-button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-header-button span {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.add-account {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.account-filter {
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
}

.account-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.balance {
    background: #25282b;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.balance-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #0cd2f7;
}

.balance-info h3 {
    font-size: 16px;
}

.balance-info h4 {
    font-size: 14px;
}

.balance-info h5 {
    color: #4d5762;
}

.balance-icon-green {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #7cd083;
}

.account-table {
    width: 100%;
    overflow: auto;
    margin-top: 20px;
    background: var(--primary-color);
}

.account-table table {
    width: 100%;
    border-collapse: collapse;
}

.account-table table thead {
    position: sticky;
    top: 0;
    background: #262729;
}

.account-table table thead th {
    position: relative;
    width: 100px !important;
    height: 4rem;
    padding: 10px 20px;
    line-height: 40px;
    cursor: pointer;
    color: #bac3ca;
    text-align: start;
}

.account-table table thead th img {
    position: absolute;
    top: 30%;
    left: 0;
}

.account-table table thead th,
.account-table table tbody td {
    font-size: 14px !important;
    text-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-table table thead th:nth-child(1),
.account-table table tbody td:nth-child(1) {
    width: 85px !important;
}

.account-table table thead th:nth-child(2),
.account-table table tbody td:nth-child(2) {
    width: 120px !important;
}

.account-table table thead th:nth-child(3),
.account-table table tbody td:nth-child(3) {
    width: 92px !important;
}

.account-table table thead th:nth-child(4),
.account-table table tbody td:nth-child(4) {
    width: 80px !important;
}

.account-table table thead th:nth-child(5),
.account-table table tbody td:nth-child(5) {
    width: 80px !important;
}

.account-table table thead th:nth-child(6),
.account-table table tbody td:nth-child(6) {
    width: 95px !important;
}

.account-table table thead th:nth-child(7),
.account-table table tbody td:nth-child(7) {
    width: 150px !important;
}

.account-table table thead th:nth-child(8),
.account-table table tbody td:nth-child(8) {
    width: 150px !important;
}

.account-table table thead th:nth-child(9),
.account-table table tbody td:nth-child(9) {
    width: 120px !important;
}

.account-table table thead th:nth-child(10),
.account-table table tbody td:nth-child(10) {
    width: 130px !important;
}

.account-table table thead th:nth-child(11),
.account-table table tbody td:nth-child(11) {
    width: 150px !important;
}

.account-table table thead th:nth-child(12),
.account-table table tbody td:nth-child(12) {
    width: 70px !important;
}

.account-table table thead th:nth-child(13),
.account-table table tbody td:nth-child(13) {
    width: 100px !important;
    text-overflow: unset !important;
}

.account-table table thead,
.account-table table tbody {
    width: 100% !important;
    display: block;
}

.account-table table thead tr,
.account-table table tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-table table tbody {
    height: 400px;
    overflow: auto;
}

.account-table table tbody::-webkit-scrollbar-corner {
    background-color: transparent;
}

.account-table table tbody::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

.account-table table tbody::-webkit-scrollbar-track {
    background: transparent;
}

.account-table table tbody::-webkit-scrollbar-thumb {
    background: #888;
}

.account-table table tbody::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.account-table table tbody tr {
    border-bottom: 1px solid #4d5762;
}

.account-table table tbody tr td {
    font-size: 15px;
    padding: 10px 20px;
    white-space: nowrap;
}

.T span {
    color: #6883ab;
    font-weight: 700;
    line-height: 25px;
}

.D span {
    color: #6fba75;
    font-weight: 700;
    line-height: 25px;
}

.account-table table tbody tr td button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.pagination {
    padding: 10px 20px;
    border-top: 1px dashed #4d5762;
    background: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

.pagination-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination-select select {
    background: var(--primary-color);
    border: none;
    color: white;
    font-size: 18px;
}

.pagination-select select option {
    color: white;
}

.pagination-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-btn button {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

@media screen and (min-width: 1600px) {
    .account-table table tbody {
        height: 600px;
    }
}

@media screen and (max-width: 800px) {
    .message-filter-inputs {
        flex-direction: column;
    }

    .message-filter-inputs .MuiFormControl-root {
        width: 100% !important;
    }
}

@media screen and (max-width: 770px) {
    .account-filter {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }
}

@media screen and (max-width: 520px) {
    .balance {
        width: 50%;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .balance-info {
        white-space: nowrap;
    }
}

@media screen and (max-width: 400px) {
    .account-filter {
        padding: 10px;
    }

    .account-info {
        gap: 5px;
    }

    .balance-info h4 {
        font-size: 13px;
    }

    .balance-info h5 {
        font-size: 10px;
    }

    .balance-info h3 {
        font-size: 1rem;
    }

    .pagination-select {
        font-size: 13px;
    }

    .pagination-select select {
        font-size: 15px;
    }

    .pagination {
        padding: 12px;
        gap: 10px;
        font-size: 11px;
    }
}

