header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    border: none;
    background: transparent;
    cursor: pointer;
}

header .profile {
    width: 40px;
    height: 40px;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

header .profile:hover {
    border: 2px solid red;
}